In [1]:
file2 = open("ligacao.txt",'r')
file1=file2.read()

lista=[]
texto1=file1.split('\n')[0].split(':')[0].replace(' ','')
texto2=file1.split('\n')[1].split(':')[0].replace(' ','')
texto3=file1.split('\n')[2].split(':')[0].replace(' ','')
lista.append(texto1)
lista.append(texto2)
lista.append(texto3)

for x in lista:
    if x == 'username':
        user=file1.split('\n')[0].split(':')[1].replace(' ','')
    if x =='dsn':
        dsn=file1.split('\n')[1]
        dsn1=dsn.split(':')[1]
        dsn2=dsn.split(':')[2]
        dsn=(dsn1+':'+dsn2).replace(' ','')
    if x =='password':
        password=file1.split('\n')[2].split(':')[1].replace(' ','')
file2.close()

In [2]:
import pandas as pd
import numpy as np
import os
import cx_Oracle

In [3]:
cx_Oracle.init_oracle_client(lib_dir=os.environ.get("HOME")+"/Downloads/instantclient_19_8")

In [5]:
connection = cx_Oracle.connect(
    user=user,
    password=password,
    dsn=dsn)

In [6]:
cursor = connection.cursor()

In [7]:
import pandas as pd
dataset=pd.read_csv('Dataset_INT_LOS_URG.csv',sep='\t')

In [8]:
dataset

,URG_EPISODIO,QUADRO,COD_PERG,HORA_ADMISSAO,COD_CAUSA,COD_PROVENIENCIA,COD_PRIORIDADE,IDADE,COD_VIA_VERDE,SEXO,COD_CONCELHO,AFLUENCIA,LOS,Internamento
0,21000001,25,39,984,5.0,NaN,2.0,58,NaN,1,11,0,52236.0,0
1,21000002,37,109,1100,5.0,33.0,3.0,87,NaN,2,6,1,15460.0,0
2,21000004,32,131,1563,12.0,5.0,3.0,12,NaN,1,11,2,7737.0,0
3,21000005,37,144,1642,5.0,33.0,2.0,74,NaN,2,1,1,85298.0,0
4,21000007,7,43,2961,10.0,30.0,3.0,66,NaN,1,11,3,19719.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204249,22167369,44,55,48837,5.0,5.0,4.0,28,NaN,1,5,23,5403.0,0
204250,22167378,37,52,50086,5.0,5.0,4.0,23,NaN,2,5,19,2234.0,0
204251,22167399,55,140,51985,5.0,33.0,4.0,23,NaN,2,6,16,3695.0,0
204252,22167401,44,43,52041,12.0,5.0,3.0,23,NaN,1,10,12,2919.0,0
204253,22167405,39,43,52250,1.0,33.0,3.0,47,NaN,2,5,13,2530.0,0

In [9]:
import math

def arrendondar(t):
    return math.ceil(t/3600)

dataset['LOS_HORA']=dataset['LOS'].apply(arrendondar)

In [10]:
def classe_target(x):
    if x <=3:
        return 1
    else:
        return x

dataset['Classe_LOS_HORA']=dataset['LOS_HORA'].apply(classe_target)

In [11]:
dataset_predict=dataset.drop(['Classe_LOS_HORA','LOS_HORA','LOS','Internamento'], axis=1)
dataset_fit=dataset

In [13]:
from sqlalchemy import create_engine


engine = create_engine("oracle+cx_oracle://{user}:{pw}@192.168.233.54:1521/?service_name=orclpdb1".format(user="IACD",pw="123iacd"))
dataset_fit.to_sql('INPUT_FIT_URGENCIA_LOS_INT',con=engine,if_exists='replace',index='False')
dataset_predict.to_sql('INPUT_PREDICT_URGENCIA_LOS_INT',con=engine,if_exists='replace',index='False')

/Users/marianafaria/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:1444: UserWarning: The provided table name 'INPUT_FIT_URGENCIA_LOS_INT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
/Users/marianafaria/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:1444: UserWarning: The provided table name 'INPUT_PREDICT_URGENCIA_LOS_INT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)