In [1]:
file2 = open("ligacao.txt",'r')
file1=file2.read()

lista=[]
texto1=file1.split('\n')[0].split(':')[0].replace(' ','')
texto2=file1.split('\n')[1].split(':')[0].replace(' ','')
texto3=file1.split('\n')[2].split(':')[0].replace(' ','')
lista.append(texto1)
lista.append(texto2)
lista.append(texto3)

for x in lista:
    if x == 'username':
        user=file1.split('\n')[0].split(':')[1].replace(' ','')
    if x =='dsn':
        dsn=file1.split('\n')[1]
        dsn1=dsn.split(':')[1]
        dsn2=dsn.split(':')[2]
        dsn=(dsn1+':'+dsn2).replace(' ','')
    if x =='password':
        password=file1.split('\n')[2].split(':')[1].replace(' ','')
file2.close()

In [2]:
import pandas as pd
import numpy as np
import os
import cx_Oracle

In [3]:
cx_Oracle.init_oracle_client(lib_dir=os.environ.get("HOME")+"/Downloads/instantclient_19_8")

In [4]:
connection = cx_Oracle.connect(
    user=user,
    password=password,
    dsn=dsn)

In [5]:
cursor = connection.cursor()

In [15]:
# TABELA OUTPUT REGRESSAO

cursor.execute("""
    begin
        execute immediate 'drop table OUTPUT_REGRESSAO';
        exception when others then if sqlcode <> -942 then raise; end if;
    end;""")

cursor.execute("""
    create table OUTPUT_REGRESSAO (
        id_processo number generated always as identity,
        urg_episodio number,
        target varchar2(4000),
        técnica varchar2(4000),
        valor_previsto number,
        max_valor_previsto number,
        min_valor_previsto number,
        ultimo number,
        timestamp timestamp with time zone default current_timestamp,
        primary key (id_processo))""")

# TABELA OUTPUT CLASSIFICACAO

cursor.execute("""
    begin
        execute immediate 'drop table OUTPUT_CLASSIFICACAO';
        exception when others then if sqlcode <> -942 then raise; end if;
    end;""")

cursor.execute("""
    create table OUTPUT_CLASSIFICACAO (
        id_processo number generated always as identity,
        urg_episodio number,
        target varchar2(4000),
        técnica varchar2(4000),
        valor_previsto number,
        grau_confianca number,
        ultimo number,
        timestamp timestamp with time zone default current_timestamp,
        primary key (id_processo))""")

In [13]:
# TABELA MODELOS

cursor.execute("""
    begin
        execute immediate 'drop table MODELOS';
        exception when others then if sqlcode <> -942 then raise; end if;
    end;""")

cursor.execute("""
    create table MODELOS (
        id_processo number generated always as identity,
        target varchar2(4000),
        técnica varchar2(4000),
        nome_ficheiro varchar2(4000),
        path varchar2(4000),
        atual number,
        timestamp timestamp with time zone default current_timestamp,
        primary key (id_processo))""")